<div class="customer">
  
  <ul>
    <%= link_to 'edit',edit_customer_path(@customers) %>
    <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
  
  <h2><%= customer.full_name %></h2>

  <p>
    <%= image_tag customer.image %>
  </p>
  
  <p>
    Phone: <%= customer.phone_number %>
  </p>

  <p>
    Email: <%= customer.email_address %>
  </p>
  
  <% if customer.province_id.present? %>
    <p>Province: <%= customer.province_id %></p>
  <% else %>
    <p>Province: none</p>
  <% end %>
  

  <p>
    Notes: <%= customer.notes %>
  </p>
</div>